# --- Core Frameworks ---
langchain>=1.2.0
langchain-community
langchain-core

# --- AI & Vector DB ---
langchain-groq
langchain-huggingface
langchain-chroma
sentence-transformers
chromadb

# --- Document Handling ---
pypdf

# --- UI & Environment ---
streamlit
python-dotenv

# --- Networking & Security ---
requests
pip_system_certs